{% extends 'socialaccount/base.html' %} {% load i18n %} {% load static %} {% block head %}
<title>Login Cancelled</title>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<style>
  body {
    font-family: "Poppins";
  }
</style>
{% endblock head %} {% block body %} {% block date %} {% endblock date %}

<main class="formPage my-sm">
  <div class="content-box3">
    <div class="formWrapper">
      <a href="{% url 'welcome' %}"><h1 class="brand">CoTask</h1></a>
      <h2>Login Cancelled</h2>
      {% url 'account_login' as login_url %}

      <p>
        {% blocktrans %}You decided to cancel logging in to our site using one
        of your existing accounts. If this was a mistake, please proceed to
        <a href="{{login_url}}">sign in</a>.{% endblocktrans %}
      </p>
    </div>
  </div>
</main>
{% endblock body %}
