{% extends 'socialaccount/base.html' %} {% load i18n %} {% load static %} {% block head %}
{% load crispy_forms_tags %}
<title>Provider Sign Up</title>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<style>
  body {
    font-family: "Poppins";
  }
</style>
{% endblock head %} {% block body %} {% block date %} {% endblock date %}

<main class="formPage my-sm">
  <div class="content-box3">
    <div class="formWrapper">
      <a href="{% url 'welcome' %}"><h1 class="brand">CoTask</h1></a>
      <h2>Sign Up</h2>
      <p>
        {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}}
        account to login to CoTask. As a final step, please complete the
        following form:{% endblocktrans %}
      </p>
      <form
        class="form-control-sm signup"
        id="signup_form"
        method="POST"
        action="{% url 'socialaccount_signup' %}"
      >
        {% csrf_token %} {{ form|crispy }} {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}
        <button class="btn btn-primary btn-sm btn-block" type="submit">
          {% trans "Sign Up" %}
        </button>
      </form>
    </div>
  </div>
</main>
{% endblock body %}
