admin==0.0.1
appdirs==1.4.3
apt-clone==0.2.1
apturl==0.5.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.0
asttokens==2.0.5
attrs==21.4.0
Automat==0.8.0
autopep8==1.6.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.8.2
bleach==5.0.0
blinker==1.4
Brlapi==0.7.0
cdir==1.3
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
cliapp==1.20180812.1
Click==7.0
cmdtest==0.32+git
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
crayons==0.4.0
cryptography==37.0.1
cupshelpers==1.0
dbus-python==1.2.16
debugpy==1.6.0
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
deluge==2.0.3
distlib==0.3.4
distro==1.4.0
distro-info===0.23ubuntu1
dj-database-url==0.5.0
Django==4.0.4
django-allauth==0.50.0
django-crispy-forms==1.14.0
django-debug-toolbar==3.2.4
django-on-heroku==1.1.2
djangorestframework==3.13.1
entrypoints==0.3
executing==0.8.3
fastjsonschema==2.15.3
filelock==3.6.0
GeoIP==1.3.2
grpcio==1.16.1
gunicorn==20.1.0
heroku==0.1.4
httplib2==0.14.0
hyperlink==19.0.0
idna==3.3
ifaddr==0.1.6
IMDbPY==6.8
importlib-metadata==4.11.3
importlib-resources==5.7.1
incremental==16.10.1
ipykernel==6.13.0
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
jeepney==0.8.0
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.6.0
jupyter==1.0.0
jupyter-client==7.3.1
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
keyring==23.5.0
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
louis==3.12.0
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
mistune==0.8.4
modules==1.0.0
more-itertools==4.2.0
mysqlclient==1.4.4
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.4.0
nemo-emblems==5.2.0
nest-asyncio==1.5.5
netaddr==0.7.19
netifaces==0.10.4
nltk==3.7
notebook==6.4.11
numpy==1.22.2
oauthlib==3.2.0
onboard==1.4.1
opencv-python==4.5.5.64
packaging==20.3
PAM==0.4.2
pandas==1.4.1
pandocfilters==1.5.0
parso==0.8.3
pbr==5.4.5
pexpect==4.6.0
pickleshare==0.7.5
piexif==1.1.3
Pillow==9.1.0
pipenv==2022.1.8
platformdirs==2.5.1
powerline-status==2.7
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.6.1
psutil==5.5.1
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycodestyle==2.8.0
pycparser==2.21
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
pygame==1.9.6
Pygments==2.12.0
PyGObject==3.36.0
PyHamcrest==1.9.0
PyICU==2.4.2
pyinotify==0.9.6
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.6
pyparted==3.11.2
pypi==2.1
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PyQt5-stubs==5.15.2.0
pyqt5-tools==5.15.4.3.2
pyRFC3339==1.1
pyrsistent==0.18.1
PySide2==5.15.2.1
python-apt==2.0.0+ubuntu0.20.4.7
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-decouple==3.6
python-dotenv==0.19.2
python-libtorrent==1.1.13
python-magic==0.4.16
python-xapp==2.2.1
python-xlib==0.23
python3-openid==3.2.0
pytz==2022.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==23.1.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
qtconsole==5.3.0
QtPy==2.1.0
regex==2022.4.24
rencode==1.0.6
reportlab==3.5.34
requests==2.27.1
requests-file==1.4.3
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
SecretStorage==3.3.2
Send2Trash==1.8.0
service-identity==18.1.0
setproctitle==1.1.10
shiboken2==5.15.2.1
simplejson==3.16.0
sip==4.19.21
six==1.14.0
soupsieve==1.9.5
sql==0.4.0
sqlparse==0.4.2
stack-data==0.2.0
stegano==0.10.2
stevedore==1.32.0
systemd-python==234
terminado==0.15.0
textblob==0.17.1
tinycss2==1.0.2
tldextract==2.2.1
toml==0.10.2
tornado==6.1
tqdm==4.64.0
traitlets==5.2.2.post1
ttystatus==0.38
Twisted==18.9.0
ubuntu-advantage-tools==27.7
ubuntu-drivers-common==0.0.0
ufw==0.36
Unidecode==1.1.1
Unipath==1.1
urllib3==1.26.9
virtualenv==20.13.2
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
wadllib==1.3.3
wcwidth==0.2.5
webencodings==0.5.1
whitenoise==6.0.0
widgetsnbextension==3.6.0
wikipedia==1.4.0
xkit==0.0.0
xlrd==1.1.0
youtube-dl==2021.4.26
zipp==3.8.0
zope.interface==4.7.1
