asgiref==3.5.0
astroid==2.9.3
attrs==20.3.0
autopep8==1.6.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==36.0.2
defusedxml==0.7.1
distlib==0.3.4
dj-database-url==0.5.0
Django==4.0.4
django-allauth==0.50.0
django-crispy-forms==1.14.0
django-rest-auth==0.9.5
djangorestframework==3.13.1
excel==1.0.0
filelock==3.6.0
flake8==3.8.4
gunicorn==20.1.0
idna==3.3
isort==5.10.1
jedi==0.17.2
jellyfish==0.9.0
lazy-object-proxy==1.7.1
lib50==3.0.3
lxml==4.8.0
mccabe==0.6.1
mysql-connector-python==8.0.28
mysqlclient==2.1.0
Nuitka==0.7.3
oauthlib==3.2.0
parso==0.7.1
pexpect==4.8.0
platformdirs==2.5.1
pluggy==1.0.0
protobuf==3.19.4
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pycodestyle==2.8.0
pycparser==2.21
pydocstyle==6.1.1
pyflakes==2.2.0
PyJWT==2.3.0
pylint==2.12.2
PyMySQL==1.0.2
PyQt6==6.2.3
PyQt6-Qt6==6.2.3
PyQt6-sip==13.2.1
PySide2==5.15.2.1
PySide6==6.2.3
python-decouple==3.6
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python3-openid==3.2.0
pytz==2022.1
PyYAML==5.4.1
requests==2.27.1
requests-oauthlib==1.3.1
rope==0.23.0
shiboken2==5.15.2.1
shiboken6==6.2.3
six==1.16.0
snowballstemmer==2.2.0
sqlparse==0.4.2
submit50==3.1.0
termcolor==1.1.0
toml==0.10.2
ujson==5.1.0
urllib3==1.26.9
virtualenv==20.14.1
whitenoise==6.0.0
wrapt==1.13.3
xlrd==2.0.1
yapf==0.32.0
zstandard==0.17.0
