{% extends 'layout.html' %} {% load static %} {% block body %} {% block date %}
{% endblock date %}
<main class="formPage my-lg">
  <div class="content-box2">
    <div class="formWrapper">
      <h1 style="font-family: 'Poppins Medium', 'Source Code Pro Semibold', serif,
    'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif">Entry Page</h1>
      {% if user.is_authenticated %}
      <p>Welcome, {{ user.username }}</p>
      <a style="font-family: 'Poppins Medium', 'Source Code Pro Semibold', serif,
    'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;" href="{% url 'tasks-list' %}"
        >Enter App --></a
      ><br />
      <p style="font-family: 'Poppins Medium', 'Source Code Pro Semibold', serif,
    'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif">
        <a href="{% url 'account_logout' %}">Logout</a>
      </p>
      {% else %}
      <p>
        Please,
        <a
          href="{% url 'account_login' %}"
          style="font-family: 'Poppins Medium', 'Source Code Pro Semibold', serif,
    'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif; text-decoration: underline;">Log In</a>
      </p>
      {% endif %}
    </div>
  </div>
</main>
{% endblock body %}
